*,
html {
  scroll-behavior: smooth;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

.navbar {
  color: #050a1f;
  background-image: linear-gradient(to right bottom, #ebfeff, white);
  box-shadow: 0 0 2px 1px #777; }

.navbar-btn {
  color: #050a1f;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .navbar-btn:hover {
    color: #02e2ff;
    font-weight: 600;
    outline: #02e2ff solid 1px; }

.box1,
.box2,
.box3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.box1 {
  background-image: url("/public/images/eelearning.png");
  min-height: 100%; }

.box2 {
  background-image: url("/public/images/astu3.jpg");
  min-height: 560px; }

.box3 {
  background-image: linear-gradient(rgba(18, 54, 113, 0.9), rgba(17, 99, 93, 0.7)), url("/public/images/eelearning.png");
  min-height: 300px; }

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  letter-spacing: 10px; }

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px; }

/* Turn off parallax scrolling for tablets and phones */
